@model OrderModel
    <form asp-action="Create" asp-controller="Order" id="orderForm">
        <div class="form-row">
            <div class="form-group col-md-5">
                <button type="submit" class="btn btn-primary" id="btnSaveOrder">Сохранить</button>
            </div>
        </div>
        <h2>Создать заказ:</h2>
        <h4>Заказ:</h4>
        <div class="form-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label asp-for="Name">Название заказа:</label>
                <input asp-for="Name" class="form-control" required placeholder="Введите название заказа">
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="form-group col-md-5">
                <label asp-for="Date">Дата:</label>
                <input asp-for="Date" class="form-control" required value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm:ss")" placeholder="Дата заказа">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Provider.Id">Поставщик:</label>
            <select asp-for="Provider.Id" asp-items="ViewBag.Providers" class="form-control"></select>
        </div>
    </form>
    <div id="orderItemContainer">
        <div class="row">
            @{ await Html.RenderPartialAsync("_OrderItems", new OrderItemModel()); }
            <input class="btn btn-info" type="button" id="btnAddItem" value="Добавить" />
            <table class="table table-hover" id="orderItemsTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название:</th>
                    <th scope="col">Количество:</th>
                    <th scope="col">Unit</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
<div>
    <a asp-action="Index" asp-controller="Home">Назад к списку заказов</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        let form = $("#orderForm");
        let orderItemList = [];
        let count = 1;
        $("#btnAddItem").on("click",
            function () {
                let qty = Number($("#Quantity").val().replace(',', '.'));
                let item = AddItemToTable($("#ItemName").val(), qty, $("#Unit").val(), count);
                orderItemList.push(item.orderItem);
                $("#orderItemsTable").append(item.rowString);
                count++;
                console.log(orderItemList);
                $("#ItemName").val('');
                $("#Quantity").val('');
                $("#Unit").val('');
            });
        form.on("submit",
            function(e) {
                e.preventDefault();
                let order = JSON.stringify({
                    name: $("#Name").val(),
                    date: $("#Date").val(),
                    provider: {
                        id: $("#Provider_Id").val(),
                        name: $("#Provider_Id option:selected").text()
                    },
                    orderItems: orderItemList
                });
                if (form.valid()) {
                    $.ajax({
                        url: form.attr("action"),
                        data: order,
                        type: "POST",
                        contentType: "application/json",
                        success: function() {
                            window.location = "@Url.Action("Index","Home")";
                        },
                        error: function(result) {
                            console.log(result);
                            alert("Ошибка добавления");
                        }
                    });
                }
            });
    </script>
}
