@model OrderModel
<h2>Создать заказ:</h2>

<h4>Заказ:</h4>
<form asp-action="Create" asp-controller="Order" id="form">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-5">
            <label asp-for="Name">Название заказа:</label>
            <input asp-for="Name" class="form-control" required placeholder="Введите название заказа">
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="form-group col-md-5">
            <label asp-for="Date">Дата:</label>
            <input asp-for="Date" class="form-control" required value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm:ss")" placeholder="Дата заказа">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Provider.Id">Поставщик:</label>
        <select asp-for="Provider.Id" asp-items="ViewBag.Providers" class="form-control"></select>
    </div>
    <div id="orderItemContainer">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="order-item-name"></label>
                    <input name="order-item-name" id="order-item-name" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="order-item-quantity"></label>
                    <input name="order-item-quantity" id="order-item-quantity" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="order-item-unit"></label>
                    <input name="order-item-unit" id="order-item-unit" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <input class="btn btn-light" type="button" id="btnAdd" value="Добавить"/>
            </div>
            <table class="table table-hover" id="orderItemsTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название:</th>
                    <th scope="col">Количество:</th>
                    <th scope="col">Unit</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<div>
    <a asp-action="Index" asp-controller="Home">Назад к списку заказов</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        let orderItemList = [];
        $("#btnAdd").on("click",
            function () {
                let orderItem = {
                    id: 0,
                    name: $("#order-item-name").val(),
                    quantity: $("#order-item-name").val(),
                    unit: $("#order-item-name").val()
                }
                orderItemList.push(orderItem);
                $("#orderItemsTable").append('<tr><th scope="row">1</th><td>'+ orderItem.name +'</td><td>'+ orderItem.quantity +'</td><td>'+ orderItem.unit +'</td></tr>');
            });
    </script>
}
