@model FilterModel
<form asp-action="AcceptFilter" asp-controller="Home">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="OrderName">Название заказа:</label>
            <select asp-for="OrderName" asp-items="ViewBag.OrderNames" class="form-control" multiple>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="OrderDate">Дата заказа:</label>
            <select asp-for="OrderDate" asp-items="ViewBag.OrderDates" class="form-control" multiple>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="OrderProviderId">Id Поставщика:</label>
            <select asp-for="OrderProviderId" asp-items="ViewBag.OrderProviderId" class="form-control" multiple>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="OrderItemName">Название товара:</label>
            <select asp-for="OrderItemName" asp-items="ViewBag.OrderItemName" class="form-control" multiple>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="OrderItemUnit">Название товара:</label>
            <select asp-for="OrderItemUnit" asp-items="ViewBag.OrderItemUnit" class="form-control" multiple>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="OrderProviderName">Название товара:</label>
            <select asp-for="OrderProviderName" asp-items="ViewBag.OrderItemUnit" class="form-control" multiple>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Применить</button>
</form>