<div class="container">
    @(Html.DevExtreme().Button()
        .Text("Добавить заказ")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .OnClick("addOrderButtonClick"))
</div>    
<div class="container" id="ordersTable">
        ...Loading
    </div>

    @section scripts
{
        <script type="text/javascript">
        let appSettings = {
            Urls: {
                getOrdersTable: "@Url.Action("ShowOrdersTable", "Home")",
                getFilteredOrders: "@Url.Action("AcceptFilter", "Home")"
            }
        };

        function addOrderButtonClick() {
            window.location = "@Url.Action("AddOrderForm","Order")";
            }

        $(document).ready(() => {
            $("#ordersTable").load(appSettings.Urls.getOrdersTable);
        });
        $("#filterForm").on("submit",
            (e) => {
                e.preventDefault();
                $.ajax({
                    url: appSettings.Urls.getFilteredOrders,
                    data: $("#filterForm").serialize(),
                    type: "POST",
                    success: function (result) {
                        $("#ordersTable").html(result);
                    },
                    error: function (result) {
                        console.log(result);
                        alert("Ошибка");
                    }
                });
            });


        </script>
}