<div class="container-fluid">
    <div class="container">
        <a class="btn btn-success" asp-action="AddOrderForm">Добавить заказ</a>
    </div>
    <div class="container" id="ordersTable">
        ...Loading
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        let appSettings = {
            Urls: {
                getOrders: "@Url.Action("ShowOrdersTable", "Home")",
                addOrder: "@Url.Action("AddOrderForm", "Home")"
            },
            ordersTableContainer: "#ordersTable"
        };

        $(document).ready(function() {
            $(appSettings.ordersTableContainer).load(appSettings.Urls.getOrders);
        });
    </script>
}